.products {
  display: grid;
}

.product__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.pizzeria,
.fast_food {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.pizza h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 5px;
}

a {
  color: var(--text-color-light);
}

a:hover {
  color: var(--color-lighter);
}

#pizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;
}

.picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
  height: 100%;
  padding: 3px 10px;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
