@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --color-dark: rgb(38, 11, 1);
  --color-nav-dark: rgba(43, 15, 6, 0.513);
  --color-light: rgb(147, 102, 58);
  --color-ligh-transparent: rgba(147, 102, 58, 0.459);
  --color-lighter: rgb(224, 179, 145);
  --text-color: rgb(86, 32, 5);
  --text-color-light: rgb(233, 195, 157);
}

* ::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: var(--color-light);
}

.logo__container {
  display: flex;
  padding: 10px;
}

.logo__container img {
  display: flex;
  width: 20%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation-duration: 2.5s;
  animation-name: spin;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.toplinks {
  display: none;
}

.list {
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  margin: 0;
}

.list li ul {
  position: absolute;
  display: none;
}

.list li:hover ul {
  display: block;
}

li {
  list-style-type: none;
}

.logomenu {
  display: flex;
  flex-direction: row;
  background-color: var(--color-light);
}

.hamburger {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--text-darkgray);
  margin: 10px;
  cursor: pointer;
}

i .fa-solid {
  display: inline-block;
  opacity: 1;
  margin: 0 25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

i .fa-solid::before {
  background: 0 0 !important;
}

.list.active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: var(--color-white);
  background: var(--color-dark);
  z-index: 20;
}

.list.active .menu-closebtn {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 10px;
  text-align: right;
}

.navmenu {
  display: flex;
  flex-direction: row;
}

.pastry__picture {
  content: "";
  background-image: url(images/bread-1465190_1920.png);
  background-repeat: no-repeat;
  background-color: var(--color-light);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pastry__text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.home__bakery {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding: 5px;
}

.home__bakery h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-style: italic;
  padding-top: 5rem;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-right: 10px;
  gap: 10px;
  color: white;
  padding-top: 0.6rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 2px;
  margin-top: 5rem;
}

.description h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-style: italic;
  padding-top: 5rem;
}

.description p,
.home__bakery p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  max-width: 20rem;
}

.find__us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 2px;
  background-color: var(--color-dark);
}

.find__us h2 {
  font-size: 1.3rem;
  color: #f4f2f1;
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-style: italic;
  margin-top: 3rem;
}
