@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --color-dark: rgb(38, 11, 1);
  --color-light: rgb(147, 102, 58);
  --color-ligh-transparent: rgba(147, 102, 58, 0.459);
  --color-lighter: rgb(224, 179, 145);
  --text-color: rgb(86, 32, 5);
  --text-color-light: rgb(233, 195, 157);
}

* ::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.logo__container img {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation-duration: 2.5s;
  animation-name: spin;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logomenu {
  display: flex;
  flex-direction: row;
}

.toplinks {
  display: none;
}

.list {
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  margin: 0;
}

.list li ul {
  position: absolute;
  display: none;
}

.list li:hover ul {
  display: block;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #f2e8e8cc;
}

.hamburger {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--text-darkgray);
  margin: 10px;
}

i .fa-solid {
  display: inline-block;
  opacity: 1;
  margin: 0 25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

i .fa-solid::before {
  background: 0 0 !important;
}

.list.active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: var(--color-white);
  background: var(--color-dark);
  z-index: 20;
}

.list.active .menu-closebtn {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 10px;
  text-align: right;
}

.navmenu {
  display: flex;
  flex-direction: row;
}

.pastry__picture {
  background-position: center;
}

.pastry__picture::before {
  content: "";
  background-image: url(images/bread-1465190_1920.png);
  background-repeat: no-repeat;
  background-color: var(--color-light);
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.home__bakery {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding: 2px;
  margin-top: 10rem;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-right: 10px;
  gap: 10px;
  color: white;
  padding-top: 0.6rem;
}

hr {
  background-color: var(--color-dark);
  width: 30%;
  height: 1px;
  border: none;
}

@media only screen and (min-width: 768px) {
  .toplinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-right: 10px;
    gap: 15px;
    background-color: var(--color-dark);
  }

  .navlinks {
    display: flex;
    flex-direction: row;
    background-color: var(--color-ligh-transparent);
    padding-left: 40px;
    padding-right: 40px;
  }

  .logo__container img {
    display: block;
    width: 10%;
    margin-left: 5px;
    margin-right: 5px;
  }

  .hamburger {
    display: none;
  }

  .list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
  }

  .item,
  .btn__item {
    margin-right: 50px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    position: relative;
  }

  nav a {
    display: block;
    padding: 10px;
    color: #faf8f8;
    font-weight: bold;
    text-decoration: none;
  }

  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-light);
    padding: 0;
  }

  nav ul ul li {
    display: block;
  }

  nav li:hover > ul {
    display: inherit;
  }

  nav ul ul li:hover > ul {
    display: inherit;
  }
}
