/* stylelint-disable no-descending-specificity */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

:root {
  --color-dark: rgb(38, 11, 1);
  --color-nav-dark: rgba(43, 15, 6, 0.513);
  --color-light: rgb(147, 102, 58);
  --color-ligh-transparent: rgba(147, 102, 58, 0.53);
  --color-lighter: rgb(162, 129, 103);
  --text-color: rgb(86, 32, 5);
  --text-color-light: rgb(233, 195, 157);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

* ::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: var(--color-light);
}

.logo__container {
  display: flex;
  padding: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation-duration: 2.5s;
  animation-name: spin;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  max-width: 50%;
  padding: 2rem;
  border-radius: 30%;
}

.toplinks {
  display: none;
}

.list {
  display: none;
  flex-direction: column;
  top: 0;
  left: 0;
  margin: 0;
}

.list li ul {
  position: absolute;
  display: none;
}

.list li:hover ul {
  display: block;
}

li {
  list-style-type: none;
}

.logomenu {
  display: flex;
  flex-direction: row;
  background-color: var(--color-light);
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--text-darkgray);
  margin: 10px;
  padding-right: 2rem;
  cursor: pointer;
}

i .fa-solid {
  display: inline-block;
  opacity: 1;
  margin: 0 25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

i .fa-solid::before {
  background: 0 0 !important;
}

.list.active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: var(--text-color-light);
  background: var(--color-dark);
}

.list.active .menu-closebtn {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 20px;
  text-align: right;
  color: #f1f1f1;
  font-size: 2rem;
}

.list.active a {
  color: var(--text-color-light);
  font-size: 1.7rem;
  padding: 20px;
  line-height: 3rem;
  text-decoration: none;
}

.fa-cart-shopping {
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin: 0 1rem;
}

.cartAmount {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

.pastry__picture {
  content: "";
  background-image: url(images/bread-in-basket-4539792_1920.png);
  background-repeat: no-repeat;
  background-color: var(--color-light);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -3;
  background-blend-mode: soft-light;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  margin-top: 10%;
}

.pastry__text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  border-radius: 15px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 10px;
  text-align: center;
}

.home__bakery {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding: 5px;
}

.home__bakery h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-style: italic;
  margin-top: 2em;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  padding-right: 2rem;
  gap: 10px;
  color: white;
  padding-top: 0.6rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 2px;
  margin-bottom: 2em;
}

.description h2 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-style: italic;
  padding-top: 5rem;
}

.description p,
.home__bakery p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  max-width: 20rem;
}

/* SECTION FIND__US */

.find__us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 2px;
  background-color: var(--color-dark);
}

.find__us h2 {
  font-size: 1.3rem;
  color: #f4f2f1;
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-style: italic;
  margin-top: 3rem;
}

.find__us__p {
  font-size: 1.3rem;
  color: #f4f2f1;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

strong {
  color: #f4f2f1;
  font-weight: 900;
  font-size: 1.5rem;
}

.important__info {
  color: red !important;
  font-size: 1.5rem;
}

.menu__reminder,
.orders {
  font-size: 1.3rem;
  color: #f4f2f1;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.find__us__container {
  flex-direction: column;
  align-items: center;
}

.find__us__desc {
  text-align: center;
  padding: 0 5rem;
}

.map__container {
  margin-top: 20px;
}

iframe {
  width: 100%;
  border: 0;
  padding: 2rem;
}

/* PRODUCT SECTION */

.product {
  align-items: center;
  text-align: left;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1.3rem;
  padding: 2rem;
}

.slider {
  position: relative;
  padding-bottom: 1rem;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide img {
  max-height: 50%;
  width: 100%;
  padding: 8px 0;
  box-sizing: border-box;
}

.slide-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 10px;
  transform: translateY(-50%);
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  background-color: var(--color-ligh-transparent);
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
  z-index: 1;
  white-space: nowrap;
}

.slide-button:hover {
  background-color: var(--color-accent);
}

/* FOOTER */

footer {
  margin-top: 70%;
  padding: 2rem;
  background-color: var(--color-lighter);
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  padding: 2px;
  color: white;
}

.footer__left__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  padding: 2px;
  margin-top: 2rem;
  color: white;
}

.footer__left__links h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.footer__left__links a {
  color: var(--text-color-light);
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer__left__links a:hover {
  color: var(--color-accent);
}

#myTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--text-color);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#myTopBtn:hover {
  background-color: var(--color-accent);
}

#myTopBtn a {
  text-decoration: none;
  color: white;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  padding: 2px;
  margin-top: 2rem;
  color: white;
}

.footer__wrapper a {
  color: var(--text-color-light);
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer__wrapper a:hover {
  color: var(--color-accent);
}

.footer__intouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  padding: 2px;
  margin-top: 2rem;
  color: white;
}

.footer__intouch h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.footer__intouch p {
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  padding: 2px;
  margin-top: 2rem;
  color: white;
}

form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: white;
  color: var(--text-color);
}

form button {
  background-color: var(--color-accent);
  color: white;
  font-size: 1.3rem;
  font-weight: 900;
  padding: 8px 10px;
  border-radius: 30px;
  cursor: pointer;
  align-self: flex-end;
}

form button:hover {
  background-color: var(--color-dark);
  color: var(--text-color);
}

.footer__widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  margin-top: 2rem;
  color: white;
}
